/* banner*/
.banner{
    padding: 100px 130px;
}
.hero{

    background: url('/static/images/banner-bg.png')no-repeat;
}
.banner-left{
    width: 52%;
}
.banner-right{
    z-index: 999;
    background-color: #fff;
    position: relative;
    top: -50px;
    border-radius: 2rem;
}
.text-5xl {
    font-size: 3.58rem;
    font-weight: 900;
}
.banner-btn{
    position: absolute;
    left: 0px;
    bottom: 60px;
}
.banner-btn a{
    position: relative;
    cursor: pointer;
}
.panel-switch{
    position: relative;
}
.panel-switch img:last-child{
    margin-bottom: 20px;
    margin-left: 25px;
}
.banner-ico-active .banner-ico{
    opacity: 1;
}
.banner-ico{
    position: absolute;
    top: 5px;
    width: 15px;
    opacity: 0;
}
/* design-list */
.design-title{
    text-align: center;
    padding-top: 4rem;
}
.design-title a{
    cursor: pointer;
}
.design-title-active{
    color:#205ee9!important;
}
/* submit email */
.submit-email {
    background-color: #ebf7fd;
    padding: 90px 0;
    text-align: center;
}
.submit-email p {
    color: #9a9a9a;
    font-size: 18px;
    margin-bottom: 40px;
}
.submit-email input {
    border-radius: 3px;
    width: 600px;
    height: 45px;
    text-indent: 10px;
    color: #9a9a9a;
}
.submit-email button {
    text-align: center;
    color: #fff;
    background-color: #00a0e9;
    border-radius: 3px;
    letter-spacing: 3px;
    width: 220px;
    height: 45px;
    line-height: 45px;
    margin-left: -5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

@media screen and (max-width: 768px) {
    header nav{
        display: none!important;
    }
    .header-container{
        max-width: 80%!important;
    }
    .header-container .mx-auto{
        width: 100%;
    }
    header img{
        width: 140px;
        max-width: unset;
    }
    .bg-brand-bg{
        padding: 1rem 0;
    }
    .banner{
        padding: 15px;
    }
    .banner-left{
        width: auto;
    }
    .banner-right{
        top: 230px;
        /* left: -10%; */
    }
    .banner-content{
        padding: 1rem;
    }
    .banner-content h2{
        font-size: 1.3rem;
    }
    .banner-title{
        width: 80%;
    }
    .hero .mt-6{
        margin-top: 1rem;
    }
    .hero p{
        font-size: 0.8rem;
    }
    .filters{
        margin-bottom: 1rem;
    }
    .filters a{
        font-size: 1.2rem;
    }
    .view{
        padding: 1rem 0;
        width: 100%;
    }
    .list-of-designs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        padding: 0 1rem;
    }
    .designs-item >div:last-child{
        padding: 0.5rem;
    }

    .designs-item .p-4 > div:first-child{
        display: flex;
        align-items: center;
    }
    
    .footer-logo{
        display: none;
    }
    .footer-nav >div{
        width: 144px;
    }
    .footer-top p{
        color: #fff;
    }
    .footer-top > .flex{
        width: 80%;
        display: inline-block;
        margin-left: 10%;
    }
    .footer-top > .flex > .flex-col{
        width: 100%;
    }

    .contact-info{
        width: 100%;
        float: left;
        margin-top: 4rem;
    }
    .contact-info > p{
        padding-left: 1rem;
    }
    .footer-bottom > div{
        width: 100%;
    }
    .footer-bottom .text-sm{
        width: 100%;
        padding: 0 10%;
    }
    .submit-email{
        padding: 2rem;
    }
    .submit-email input{
        width: 100%;
    }
    .submit-email button{
        width: 50%;
        margin: 20px 0 0 0;
    }
}