{% extends '../layout.html' %}
{% load static %}
{% load account socialaccount %}

{% block title %}
    List of Designs
{% endblock %}

{% block content %}

    <div class="content-container max-w-none py-16">
        <h2 class="page-heading">List of Designs</h2>

        <div class="list-of-designs">
            {% for design in object_list %}
                <div class="design-{{ design.id }}">
                    <div class="w-full flex justify-center items-center">
                        <img class="w-full" src="{{ design.design_image.url }}" alt="Design"/>
                    </div>

                    <div class="flex">
                       <div class="w-1/2">
                           <p class="text-2xl text-blue-900" style="margin-top: 0; margin-bottom: 0;">
                               <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                               {{ design.votes.count }}
                           </p>
                       </div><!-- .w-1/2 -->

                        <div class="w-1/2">
                            <form class="text-right" action="{% url 'design-vote' design.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="{{ design.id }}" id="{{ design.id }}">
                                <button class="rounded bg-blue-400 hover:bg-blue-600 text-blue-900 hover:text-blue-200 font-semibold py-2 px-16">Vote</button>
                            </form>
                        </div><!-- .w-1/2 -->
                    </div><!-- .flex -->
                </div>
                {% empty %}
                <p>No designs yet.</p>
            {% endfor %}
        </div><!-- .list-of-designs -->
    </div><!-- .content-container -->
{% endblock %}