{% extends './layout.html' %}
{% load static %}
{% load account socialaccount %}

{% block title %}
    Home
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/pixie/styles.min.css' %}">
{% endblock %}

{% block content %}
    <div class="banner-section">
        <img src="{% static 'images/Banner.png' %}" alt="innokin Sceptre">
        <div class="banner-btn">
            <div>Design your exclusive Sceptre and let's make it true</div>
            <a class="banner-btn-active">Get Started</a>
            <a>See Designs</a>
        </div>
    </div>
    <div class="section-w section-step">
        <h3>HOW TO ENTER</h3>
        <ul class="step-list">
            <li>
                <img src="{% static 'images/step.png' %}" alt="ENTER step">
                <div class="step-text">
                    <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitrsed diam.</p>
                </div>
            </li>
            <li>
                <img src="{% static 'images/step.png' %}" alt="ENTER step">
                <div class="step-text">
                    <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitrsed diam.</p>
                </div>
            </li>
            <li>
                <img src="{% static 'images/step.png' %}" alt="ENTER step">
                <div class="step-text">
                    <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitrsed diam.</p>
                </div>
            </li>
            <li>
                <img src="{% static 'images/step.png' %}" alt="ENTER step">
                <div class="step-text">
                    <p>Lorem ipsum dolor sit amet,consetetur sadipscing elitrsed diam.</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- tool -->

    <div class="design-tool-section">
        <div class="content-container mx-w-none">
            <div id="design-tool" class="mx-auto max-w-none py-16">
                <div class="w-full" id="app"></div>
            </div>
        </div><!-- .content-container -->
    </div><!-- .design-tool-section -->

    <div class="submit-link-section bg-brand-blue3 text-white py-16">
        <div class="content-container">
            <p class="text-center text-4xl">Already posted it? <br> Submit your design!</p>

            <form method="post" class="form-submit-link my-4 w-2/3 mx-auto">
                <label class="sr-only" for="post-link">Post link</label>
                <div class="flex px-16">
                    <input class="rounded-full w-full px-4 py-4 text-gray-700" id="post-link" name="post-link" type="text" placeholder="e.g., https://www.instagram.com/p/CGjs_ayB4fF/">
                    <button class="button-submit-link button-circle">Submit</button>
                </div>
            </form>

            <p class="text-center">By submitting your design you agree to our <a class="underline" href="#">terms of service</a></p>
        </div><!-- .content-container -->
    </div><!-- .submit-link-section -->

    <div id="filter" class="list-of-designs-section flex py-16">
        <div class="content-container">
            <div class="filters w-full pb-8">
                <a href="/?q=popular#filter" class="inline-block text-xl px-4 py-2 text-black border-b-2 border-black">Popular</a>
                <a href="/?q=latest#filter" class="inline-block text-xl px-4 py-2 hover:text-black border-b-2 border-gray-400 hover:border-black border-bottom">Latest</a>
                <hr class="border-t-2 border-b-0 border-gray-400" style="margin-top: -2px;">
            </div><!-- .filters -->

            <div class="list-of-designs">
                {% for design in object_list %}
                    <div class="design-{{ design.id }}">
                        <div class="w-full flex justify-center items-center">
                            <img class="w-full" src="{{ design.design_image.url }}" alt="Design"/>
                        </div>

                        <div class="flex p-4">
                            <div class="w-1/2">
                                {% for account in design.author.socialaccount_set.all %}
                                    {% if account.extra_data %}
                                       <p class="text-brand-blue1">By {{ account.extra_data.short_name }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div><!-- .w-1/2 -->
                            <div class="w-1/2">
                                <form class="text-right" action="{% url 'design-vote' design.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="{{ design.id }}" id="{{ design.id }}">
                                    <button class="text-brand-body hover:text-brand-blue1" type="submit" aria-label="Submit your vote">
                                        <i class="fas fa-thumbs-up" aria-hidden="true"></i>
                                        {{ design.vote_score }}
                                    </button>
                                </form>
                            </div><!-- .w-1/2 -->
                        </div><!-- .flex -->
                    </div>
                {% empty %}
                    <p>No designs yet.</p>
                {% endfor %}
            </div><!-- .list-of-designs -->
        </div><!-- .content-container -->
    </div><!-- .list-of-designs-section -->
{% endblock %}

{% block scripts %}
    <script>
        var dataUrl = "";
    </script>
    <script src="{% static '/pixie/scripts.min.js' %}"></script>
    <script src="{% static '/js/pixie-instance.js' %}"></script>
    <script src="{% static '/js/design-tool.js' %}"></script>
{% endblock %}